<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>AddPerson Web</title>
    </head>
    <body>
    <section>
        <h3>Ajout d'utilisateurs</h3>
        <form th:action="@{/addUser}" th:object="${user}" method="post">
            <input type="text" th:field="*{user.firstName}" id="firstName" />
            <input type="text" th:field="*{user.lastName}" id="lastName" />
            <input type="text" th:field="*{user.age}" id="age" />
            <input type="text" th:field="*{user.birthDate}" id="birthDate" />
            <input type="submit" value="Envoyer">
        </form>
    </section>
    <!---->
    </body>
</html>