<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ruben Trottein</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="assets/js/main.js""></script>
</head>
<body>
    <video src="assets/media/video/aurora.mp4" autoplay muted></video>
    <header>
        <h1>Ruben Trottein</h1>
        <nav></nav>
    </header>
    <section id="hero">
        <article>
            <h2>Formateur / Concepteur / Développeur d'application</h2>
            <p class="lead">Bienvenue sur mon site personnel</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt vero nemo molestias vitae, voluptate accusamus error ex veritatis ipsum repellat quae? Sit dolorem aliquam suscipit.</p>
        </article>
    </section>
    <section>
        <h2>Projets</h2>
        <article>
            <h3>JavaScript</h3>
            <p class="lead">
                React
            </p>
            <a href="https://pokedex-react-ruben-t.vercel.app/">Pokédex React</a>
            <p>
                Vanilla
            </p>
            <a href="https://vanilla-pokeapi.vercel.app/">Pokédex Javascript (vanilla)</a>
            <p>
                
            </p>
        </article>
        <article>
            <h3>CSS / Design</h3> 
            <a href="https://mistertea.fr/eshop/">Intégration d'un mockup pour un site de vente de carrelage et autres (Full HTML/CSS)</a>
        </article>
        <article>
            <h3>Php</h3>
            
        </article>
    </section>
</body>
</html>