<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>AddPerson Web</title>
    </head>
    <body>
    <header>
    </header>
    <!---->
    <section>
        <h3>Ajout d'utilisateurs</h3>
        <form th:action="@{/updateUser}" th:object="${userToUpdate}" method="post">
            <input type="text" th:field="*{firstName}" id="firstName" />
            <input type="text" th:field="*{lastName}" id="lastName" />
            <input type="text" th:field="*{age}" id="age" />
            <input type="text" th:field="*{birthDate}" id="birthDate" />
            <input type="submit" value="Envoyer">
        </form>
    </section>
    <!---->
    </body>
</html>