<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" href="https://mistertea.fr/selene/css/style.css">
</head>
<body>
    <header>
        <h1 th:text="${error}"></h1>
        <nav>
            <a href="/">Retour</a>
        </nav>
    </header>
    <main>
        <section>
            <h2>Détails de l'erreur</h2>
            <p th:text="${trace}" style="word-break: break-word; line-height:1.5em;"></p>
        </section>
        <img src="https://mistertea.fr/selene/img/lucifurr.gif" />
    </main>
</body>
</html>