<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>$Title$</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <header>
    <h1 th:text="${error}"></h1>
    <nav>
      <a href="/">Accueil</a>
      <a href="/getAllBands">Groupes</a>
      <a href="/getAllScenes">Scenes</a>
    </nav>
  </header>
  <main>
    <section>
      <h2>Détails de l'erreur</h2>
      <p th:text="${trace}" style="word-break: break-word; line-height:1.5em;"></p>
    </section>
    <img src="https://mistertea.fr/selene/img/lucifurr.gif" />
  </main>
</body>
</html>