<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Scenes</title>
    <!--
        <link rel="stylesheet" href="style.css">
    -->
    <link rel="stylesheet" href="https://mistertea.fr/selene/css/style.css">
    <style>
        #couverdure{
            position: fixed;
            right:1em;
            bottom: 1em;
            width: 10em;
        }
        #scenesList article{
            display: flex;
            justify-content: space-between;
            gap: 1em;
        }
        #bandList figure{
            min-width: 33%;
        }
    </style>
</head>
<body>
<header>
    <h1>Scènes</h1>
    <nav>
        <a href="/">Retour</a>
    </nav>
</header>
<main>
    <section id="scenesList">
        <h2>Liste des Scènes</h2>
        <article th:each="scene : ${scenes}">
            <figure>
                <img src="https://picsum.photos/id/174/300/300" alt="Illustration">
                <figcaption>
                    <h3 th:text="${scene.name}"></h3>
                    <p>Lorem Ipsum Dolor Sit Amet</p>
                    <div class="group">
                        <form method="GET" action="${/updateBand}">
                            <button th:value="${scene.id}" >Modifier</button>
                        </form>
                        <form method="GET" action="${/deleteBand}">
                            <button th:value="${scene.id}" >Supprimer</button>
                        </form>
                    </div>
                </figcaption>
            </figure>
        </article>
    </section>
    <!----
    <section>
        <fieldset>
            <summary><h2>Add Band</h2></summary>
            <form action="@{/addBand}" method="POST" th:object="${band}">
                <label for="nom">Nom du groupe</label>
                <input type="text" th:field="*{name}" id="nom">
                <input type="submit" value="Ajout d'un groupe">
            </form>
        </fieldset>
    </section>
    <!---->
<audio autoplay src="https://mistertea.fr/selene/bgm/miles-davis-blue-in-green-1959.mp3"></audio>
</main>
<img id="couverdure" src="https://mistertea.fr/selene/img/couverdure.png" width=200 />
</body>
</html>