<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Opérations sur le compte</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div th:replace="fragments/header :: header">
    <header>
        <h1 th:text="${title}">Profil</h1>
        <nav>
            <a href="/profile">Profil</a>
            <a href="/transactions">Virement à un compte Payme</a>
            <a href="/supply">Approvisionnement du compte</a>
            <a href="/logout">Déconnexion</a>
        </nav>
    </header>
</div>
<main id="operations">
    <section th:if="${title}=='Transactions'">
        <h2>Résumé de l'opération</h2>
        <article>
            <figure>
                <i>💲-></i>
                <figcaption>
                    <h3>Compte émetteur</h3>
                    <p>Nom du compte : <span th:text="${user.name}"></span></p>
                    <p>Solde du compte : <span th:text="${user.balance}"></span> €</p>
                </figcaption>
            </figure>
            <figure>
                <i>&lt;-💲</i>
                <figcaption>
                    <h3>Compte destinataire</h3>
                    <select th:each="contact: ${contactList}">
                        <option th:text="${contact.name}"></option>
                    </select>
                </figcaption>
            </figure>
        </article>
    </section>
    <section th:if="${title}=='Approvisionnement du compte'" class="supplySection">
        <h2>Résumé de l'opération</h2>
        <article>
            <figure>
                <figcaption>
                    <h3>Mon Solde</h3>
                    <p><span th:text="${user.balance}"></span>€</p>
                </figcaption>
            </figure>
        </article>
    </section>
    <section>
        <h2>Créer une nouvelle opération</h2>
        <article>
            <form th:action="@{/supply}" th:object="${supply}" method="post" th:if="${title}=='Approvisionnement du compte'">
                <label for="label">
                    Libéllé de l'opération
                    <input type="text" name="label" id="label">
                </label>
                <label for="amount">
                    Montant à transférer
                    <input type="text" name="amount" id="amount">
                </label>
                <label th:if="${title}=='Transactions'">
                    Compte du destinataire
                    <select th:each="contact: ${contactList}">
                        <option th:text="${contact.name}"></option>
                    </select>
                </label>
                <input type="submit" value="Ajouter un approvisionnement">
            </form>
            <form th:action="@{/transaction}" th:object="${transaction}" method="post" th:if="${title}=='Transactions'">
                <label for="label">
                    Libéllé de l'opération
                    <input type="text" name="label" id="transactionLabel">
                </label>
                <label for="amount">
                    Montant à transférer
                    <input type="text" name="amount" id="transactionAmount">
                </label>
                <label th:if="${title}=='Transactions'">
                    Compte du destinataire
                    <select th:each="contact: ${contactList}">
                        <option th:text="${contact.name}"></option>
                    </select>
                </label>
                <input type="submit" value="Ajouter une transaction">
            </form>
            <aside th:if="${title}=='Approvisionnement du compte'">
                <h2>Affichage des derniers approvisionnements</h2>
                <table>
                    <thead>
                        <th>Label</th>
                        <th>Amount</th>
                    </thead>
                    <tbody>
                        <tr th:each="supply : ${supplyList}">
                            <td th:text = "*{supply.label}"></td>
                            <td th:text = "*{supply.amount}"></td>
                        </tr>
                    </tbody>
                </table>
            </aside>
            <aside th:if="${title}=='Transactions'">
                <h2>Affichage des dernières transactions</h2>
                <table>
                    <thead>
                    <th>Label</th>
                    <th>Amount</th>
                    </thead>
                    <tbody>
                    <tr th:each="operation : ${list}">
                        <td th:text = "*{operation.label}"></td>
                        <td th:text = "*{operation.amount}"></td>
                    </tr>
                    </tbody>
                </table>
            </aside>
        </article>
    </section>
    <!---->
    <!---->
</main>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>