<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Profil Utilisateur</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>Profil</h1>
        <nav>
            <a href="/">Retour</a>
        </nav>
    </header>
    <main id="profile">

        <section th:object="${user}">

            <h2>Bienvenue, <span th:text="${user.name}"></span></h2>
            <ul>
                <li>Name : <span class="name" th:text="${user.name}"></span></li>
                <li>Balance : <span class="balance" th:text="${user.balance}"></span></li>
                <li>Login : <span class="login" th:text="${user.email}"></span></li>
                <li>Password : <span class="password" th:text="${user.password}"></span></li>
                <li>ContactsList : <ul class="contactsList" th:each="contact : ${contactsList}">
                    <li th:text="*{id}"></li>
                    <li th:text="*{name}"></li>
                </ul></li>
                <!--
                -->
            </ul>
        </section>
    </main>
</body>
</html>