<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="css/style.css">
    <style>

    </style>
</head>
<body>
    <header>
        <h1>Payme.com</h1>
    </header>
    <main id="home">
        <section id="selector">
            <h2>Démo des fonctions</h2>
            <article>
                <a type="button" href="/home">Accueil</a>
                <a type="button" href="/profile">Profil Utilisateur</a>
                <a type="button" href="/transactions">Transaction</a>
                <a type="button" href="/supply">Virement</a>
            </article>
        </section>
    </main>
</body>
</html>